body,
div {
    margin: 0;
    padding: 0;
}
p {
  display: inline-block;
}
.content {
    margin: 0;
    padding: 0;
    border: 0;
    position: relative;
    flex-direction: column;
}
.map {
  border-radius: 15px;
}
#info {
  position: absolute;
  top: 0;
  right: 0;
  width: 350px;
  background-color: rgba(173,216,230,0.5);
  border-radius: 5px;
}
#ep-info {
  padding: 15px;
  margin: auto;
  text-align: center;
}
.hidden {
  display: none;
}
#ep-title {
  font-weight: bolder;
}
#podcast-title {
  font-size: 16px;
}
#welcome {
  text-align: center;
}
.dragsource {
  position: fixed;
  font-size: 3em;
}