body,
div {
    margin: 0;
    padding: 0;
}
p {
  display: inline-block;
}
.content {
    margin: 0;
    padding: 0;
    border: 0;
    position: relative;
    flex-direction: column;
}
.map {
  border-radius: 15px;
}
#ep-info {
  position: absolute;
  top: 0;
  right: 0;
  background: lightblue;
  border-radius: 5px;
  padding: 15px;
  margin: auto;
  text-align: center;
}
.hidden {
  display: none;
}
#ep-title {
  font-weight: bolder;
}
#podcast-title {
  font-size: 16px;
}
#podcast-producer {
}
#recommendation {
}
#recommender {
}
